@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #fff;
}

body, a, h1, h2, h3, button {
  font-family: Averta, sans-serif;
}

body {
  background-image: url("../assets/mask-group.png");
  background-size: cover;
  margin: auto;
  width: 100vw;
  height: 100vh;
  max-height: 1100px;
  margin: 0 auto;
}

.background-blue {
  width: 100vw;
  height: 36%;
  max-height: 500px;
  background: #317CAA;
  position: absolute;
  top: 740px;
  z-index: -1;
}

main#container {
  max-width: 960px;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  z-index: 10;
}

header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 20px 710px;
}

header .logo {
  width: 15%;
  height: 15%;
}

header .collapse, 
header .navbar {
  display: none;
}

header .navbar button {
  background: #000;
  outline: 0;
}

header .nav {
  margin-top: 10px;
  padding: 5px;

  display: flex;
  justify-content: space-around;
}

header .nav .link-group {
  display: flex;
}

header .nav .link-group .nav-link {
  color: #eee;
  font-weight: 200;
  font-family: PT Sans;
  height: 42px;
  border-radius: 10px;
  transition: background 0.3s, color 0.3s;
}

header .nav .link-group .nav-link:hover {
  background: #eee;
  color: #317CAA;
}

header .btn-link {
  width: 160px;
  height: 38px;
  margin-top: 16px;
  background: #fff;
  color: #317CAA;
  font-size: 13px;
  line-height: 17px;
  border-radius: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none !important;
  transition: opacity 0.3s;
}

header .btn-link:hover {
  opacity: 0.8;
}

#container section .content-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#container section .content-info h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #FFF;
}

#container section .content-info p {
  max-width: 18rem;
  font-family: 'PT Sans';
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #051339;
}

#container section .content-info .btn-info {
  width: 220px;
  height: 120px;
  padding: 10px;
  font-size: 14px;
  background-color: #216799;
  border: none;
  border-radius: 8px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  transition: opacity 0.2s;
}

#container section .content-info .btn-info:hover {
  opacity: 0.6;
}

#container section .img-info {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#container section .content-sport {
  display: flex;  
  justify-content: space-between;
  margin-bottom: 50px;
}

#container section .content-sport .description {
  position: relative;
  width: 60%;
  max-width: 400px;
}

#container section .content-sport .description h2{
  font-weight: bold;
  font-size: 32px;
  text-align: left;
  letter-spacing: 0.03rem;
  margin-bottom: 30px;
  font-family: Averta;
  line-height: 35px;
  color: #FF5E0F;
}

#container section .content-sport .description p {
  font-size: 16px;
  font-family: 'PT Sans';
  line-height: 26px;
  font-weight: 100;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #4F4F40;
  margin-bottom: 30px;
}

#container section .content-sport .description .btn-know-more {
  width: 150px;
  height: 42px;
  font-size: 14px;
  background: #FF5E0F;
  border-radius: 40px;
  border: none;
  color: #fff;
  letter-spacing:0.03rem;
  font-weight: bold;
  text-transform: uppercase;
}

#container section .content-sport .btn-link {
  position: absolute;
  left: 49%;
  margin-top: 220px;
  width: 65px;
  height: 65px;
  background: #FF5E0F;
  border-radius: 50%;
  box-shadow: 5px 10px 20px #000;
}
#container section .content-sport .btn-link img {
  width: 13px;
  height: 13px;
}

#container section .content-sport .banner {
  display: flex;
  align-items: center;
}

#container section .content-sport .banner img {
  width: 460px;
  height: 400px;
  align-self: center;
  padding: 20px 0;
}

#container section .content-natural-product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding:30px;
}

#container section .content-natural-product img {
  height: 40%;
  max-height: 380px;
}

#container section .content-natural-product .info-product {
  width: 400px;
  height: 240px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#container section .content-natural-product .info-product h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  display: flex;
  margin: 0;
  color: #FFBF3F;
}

#container section .content-natural-product .info-product p {
  font-size: 14px;
  line-height: 22px;
  margin: 16px 0;
  letter-spacing: 0.03em;
  color: #6A6A57;
}

#container section .content-natural-product .info-product button {
  width: 150px;
  height: 42px;
  font-size: 14px;
  background: #FFBF3F;
  border-radius: 40px;
  border: none;
  color: #fff;
  letter-spacing:0.02rem;
  font-weight: bold;
  text-transform: uppercase;
}

#container section .content-cards {
  height: 400px;
  display: flex;
  margin-bottom: 50px;
}

#container section .content-cards .info-cards {
  width: 50%;
  max-width: 600px;
  background: #4698CA;
  padding: 16px;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container section .content-cards .info-cards h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  display: flex;
  margin: 0;
  color: #FFBF3F;
}

#container section .content-cards .info-cards p {
  font-size: 14px;
  line-height: 22px;
  margin: 25px 0;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

#container section .content-cards .info-cards button {
  width: 150px;
  height: 42px;
  font-size: 14px;
  background: #FFBF3F;
  border-radius: 40px;
  border: none;
  color: #fff;
  letter-spacing:0.02rem;
  font-weight: bold;
  text-transform: uppercase;
}

#container section .content-cards .cards-product {
  height: 320px;
  width: 70%;
  max-width: 490px;
  position: absolute;
  margin-top: 30px;
  left: 48%;
  right: 48%;

  background: #FFF;
  border-radius: 8px;

  display: flex;
}

#container section .content-cards .cards-product figure {
  width: 240px;
  margin-right: 18px;
}

#container section .content-cards .cards-product figure img {
  width: 240px;
}

#container section .content-cards .cards-product figure figcaption {
  padding: 8px;
  
}

#container section .content-cards .cards-product figure figcaption h6 {
  font-size: 15px;
  line-height: 16px;
  color: #4698CA;
  font-weight: bold;
}
#container section .content-cards .cards-product figure figcaption p{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6A6A57;
}

#container section .content-cards .cards-product figure figcaption button {
  height: 36px;
  padding: 5px;
  border: 1px solid #E0E0E0;
  background: #FFF;
  color: #4F4F40;
  align-self: flex-end;
  font-weight: bold;
  font-size: 12px;
}

#container section .media-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 100%;
  max-width: 1100px;
  margin-bottom: 60px;
}

#container section .media-products .banner-info {
  background-image: url(../assets/background-insta.png);
  background-size: contain;
  height: 340px;
  width: 60%;
  max-width: 620px;
  position: absolute;
  left: 20%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

#container section .media-products .banner-info .info {
  width: 50%;
  max-width: 340px; 
  display: flex;
  flex-direction: column;
  align-self: center;
}

#container section .media-products .banner-info .info img {
  width: 30px;
  height: 30px;
}

#container section .media-products .banner-info .info h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #606395;
  margin: 30px 0;
}

#container section .media-products .banner-info .info span {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #E31C79;
}

#container section .media-products #media-cards {
  position: absolute;
  left: 58%;
  margin-top: 20px;
}

#container section .media-products #media-cards .carousel-inner {
  height: 260px;
  width: 220px;
}

#container section .galery-sports {
  width: 100%;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#container section .galery-sports .content-description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  margin-bottom: 26px;
}

#container section .galery-sports .content-description h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #78BE21;

  display: flex;
  align-items: center;
  text-align: center;
}

#container section .galery-sports .content-description p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6A6A57;
  margin: 20px 0;
}

#container section .galery-sports .content-description button {
  width: 190px;
  height: 36px;
  background: #78BE21;
  box-shadow: 0px 5px 14px rgba(7, 206, 110, 0.34);
  border-radius: 20px;
  color: #fff;
  border: none;
}

#container section .galery-sports .content-description button:not(:first-child) {
  margin-left: 22px;
}

#container section .galery-sports .carousel-sport {
  height: 100%;
  max-height: 400px;
  max-width: 800px;

  display: flex;
}

#container section .galery-sports .carousel-sport .card-item img {
  height: 180px;
  max-width: 180px;
  margin-left: 20px;
}

#container section .galery-sports .button-left {
  position: absolute;
  left: 23%;
  margin-top: 286px;
}

#container section .galery-sports .button-right {
  position: absolute;
  right: 22%;
  margin-top: 286px;
}

#container section .content-partners {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #F2F2EE;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#container section .content-partners .info {
  width: 400px;
  height: 200px;

  margin: auto 0;
}

#container section .content-partners .info h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 25px;
  color: #FA4616;
}

#container section .content-partners .info p {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #6A6A57;

  margin: 16px 0;
}

#container section .content-partners .info button {
  width: 208px;
  height: 49px;
  background: #FFFFFF;
  color: #FF7F41;
  border: none;
  cursor: pointer;
  border-radius: 40px;

  font-size: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 700;
}

#container section .content-partners img {
  width: 540px;
  height: 360px;

  margin: 20px 0;
}
